* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
body {
  display: flex;
  justify-content: center;
}
.reg1 {
  display: flex;
  flex-direction: column;
  width: 420px;
  border-radius: 30px;
  box-shadow: 0px 1px 4px 0px #073ba11a;
  padding: 40px;
  margin-top: 30px;
  margin-bottom: 180px;
  gap: 20px;
  img {
    width: 152px;
    display: block;
    margin: 0 auto;
  }
  h2 {
    text-align: center;
    color: #073ba1;
    font-size: 24px;
    font-weight: 500;
  }
  p {
    color: #042668;
    font-size: 16px;
  }
  b {
    text-align: center;
    color: #073ba1;
    font-size: 14px;
    font-weight: 400;
  }
  input {
    width: 100%;
    height: 50px;
    background-color: #f1f6fb;
    border: 1px solid #e8eef3;
    color: #79859e;
    border-radius: 8px;
    padding-left: 14px;
    font-size: 14px;
    font-weight: 400;
    outline: none;
  }
  input:focus {
    border: 1px solid #79859e;
  }
  span {
    color: #073ba1;
  }
  button {
    background-color: #ec3d5a;
    color: white;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    border: none;
  }
  sub {
    color: #042668;
  }
  .txt {
    font-size: 12px;
    color: #79859e;
    font-weight: 400;
  }
}
